<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>@ViewData["Title"] The Awesome and/or Amazing Movie Game</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">

        <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="blackBody">
        <div class="container-fluid body-content m-0 p-0">
                @RenderBody()
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("scripts", required: false)
</body>
</html>