<table class="table">
    <tr class="text-primary"><th>Name and Link</th></tr>

    <tr class="text-muted"><td><a href="/links">All Links</a></td></tr>
    <tr class="text-muted"><td><a href="/allplayers">All Players</a></td></tr>
    <tr class="text-muted"><td><a href="/movies">Movies</a></td></tr>
    <tr class="text-muted"><td><a href="/error">Error Page</a></td></tr>
    <tr class="text-muted"><td><a href="/games">Game List</a></td></tr>
    <tr class="text-muted"><td><a href="/home">Login and Reg</a></td></tr>
    <tr class="text-muted"><td><a href="/instructions">Instructions</a></td></tr>
    <tr class="text-muted"><td><a href="/leaderboard">Leaderboard</a></td></tr>
    <tr class="text-muted"><td><a href="/addteam">Add Team Form</a></td></tr>
    <tr class="text-muted"><td><a href="/nogame">No Game Page</a></td></tr>
    <tr class="text-muted"><td><a href="/player/1">Player Profile</a></td></tr>
    <tr class="text-muted"><td><a href="/group">Group Play</a></td></tr>
    <tr class="text-muted"><td><a href="/single">Single Play</a></td></tr>
    <tr class="text-muted"><td><a href="/movie/1">Movie Details</a></td></tr>
    <tr class="text-muted"><td><a href="/net">The Net</a></td></tr>
    <tr class="text-muted"><td><a href="/test">test</a></td></tr>
</table>