@{
ViewData["Title"] = "Game List";
}



<h4 class="text-center">Welcome @ViewBag.PlayerName. Please select the type of game you would like to play</h4>
<br>

<div class="text-center gameBox" ><a href="/single_player">Single Player</a></div>
<div class="text-center gameBox"><a href="/group/add_teams_form">Group Play</a></div>
<div class="text-center gameBox"><a href="/error">One vs One - COMING SOON</a></div>

