@{
ViewData["Title"] = "Game List";
}

<br>
<div>
    <h4 class="text-info text-center">Welcome @ViewBag.PlayerName. Please select the type of game you would like to play</h4>
    <div>
        <div class="text-center"><a href="/game/single">Single Player</a></div>
        <div class="text-center"><a href="/group">Group Play</a></div>
        <div class="text-center"><a href="/error">One vs One - COMING SOON</a></div>
    </div>
</div>