<head>

</head>

<body>


    <div class="col">
        <h1 class="row text-white d-flex justify-content-center mb-4"><span>Group Game Page</span></h1>
        <hr class="row LineBreakWhite">
    </div>

    <div id="GroupPlay_Clues" class="row d-flex justify-content-center border border-white p-5">
        <p class="text-white">Click for Next Clue</p>
    </div>

    <div>
        <h3>1</h3>
        <p>Value: 10 points</p>
        <p>Helicopter</p>

    </div>

    <script src="~/js/groupPlay.js" asp-append-version="true"></script>
</body>