@{
ViewData["Title"] = "Instructions";
}

<b>Goal</b><br>
<span>To guess the name of movie based on 10 one-word clues</span>
<br><br>

<b>Game Play</b><br>
<span>Clues are presented one at a time and you can guess the movie after any given clue. You have three total guesses. The earlier you correctly guess the movie, the higher the points you receive</span>
<br><br>

<b>Instructions</b>

<p>To start the game, click the <span class="BlueWords">Begin Game </span>button in the <b>List of Clues </b> section. The first <span class="RedWords">Clue </span>will appear.</p>

<p>To get the next <span class="RedWords">Clue </span>, click the <span class="BlueWords">Get Next Clue </span>button. Repeat this any time you want another <span class="RedWords">Clue. </span></p>

<p>To guess the <span class="OrangeWords">Movie</span>, type the <span class="OrangeWords">Movie's </span> title in the <b>Guess Movie </b> section. As you type, a drop-down list of movie titles will appear. Select the appropriate <span class="OrangeWords">Movie</span> from the list.</p>

<p>Click the <span class="BlueWords">Click to Guess </span> button to submit your guess.</p>

<p>You will be alerted if your guess was right or wrong.</p>

<p>The game ends if you correctly guess the movie OR if you run out of clues.</p>