<div class="row bg-primary border border-primary rounded-0 sticky-top pr-3">
    <a class="col text-right text-white nav-link m-0 p-0" href="/initiateGame">Back to Game</a>
</div>
<br>
<div class="row bg-secondary border border-secondary mb-4">
    <h4 class="col text-center text-white"><b>The Awesome and/or Amazing Movie Game Overview</b></h4>
</div>


<div class="row">
    <div class="col">
        <div class="mb-4">
            <b>Goal</b><br>
            <span>To guess the name of movie based on 10 one-word clues</span>
        </div>

        <div class="mb-4">
            <b>Game Play</b><br>
            <span>Clues are presented one at a time and you can guess the movie after any given clue. You have three total guesses. The earlier you correctly guess the movie, the higher the points you receive</span>
        </div>

        <div class="mb-4">
            <b>Instructions</b>

            <ol class="list-group">
                <li class="list-group-item mb-2 py-2">To start the game, click the <span class="BlueWords">Begin Game </span>button in the <b>List of Clues </b> section. The first <span class="RedWords">Clue </span>will appear.</li>

                <li class="list-group-item mb-2 py-2">To get the next <span class="RedWords">Clue </span>, click the <span class="BlueWords">Get Next Clue </span>button. Repeat this any time you want another <span class="RedWords">Clue. </span></li>

                <li class="list-group-item mb-2 py-2">To guess the <span class="OrangeWords">Movie</span>, type the <span class="OrangeWords">Movie's </span> title in the <b>Guess Movie </b> section. As you type, a drop-down list of movie titles will appear. Select the appropriate <span class="OrangeWords">Movie</span> from the list.</li>

                <li class="list-group-item mb-2 py-2">Click the <span class="BlueWords">Click to Guess </span> button to submit your guess.</li>

                <li class="list-group-item mb-2 py-2">You will be alerted if your guess was right or wrong.</li>

                <li class="list-group-item mb-2 py-2">The game ends if you correctly guess the movie OR if you run out of clues.</li>
            </ol>
        </div>

    </div>
</div>