<div class="row">
    <div class="col"><a href="/initiateGame">Back to Game</a></div>
</div>

<div class="row">
<div id="instructionsContent" class="col-md-10">
    <h6 id="instructionsButton" role="button" data-toggle="collapse" aria-expanded="true" href="#collapseExample">
        <span id="buttonText" data-text-swap="Click to View Overview">Click to Hide Overview</span>
    </h6>
    <div class="collapse show" id="collapseExample">
        <h4 id="OverViewHeader"><b>The Awesome and/or Amazing Movie Game Overview</b></h4>
        <hr class="linebreak3">
        <p id="GoalWord"><b>Goal</b><br>To guess the name of movie based on 10 one-word clues</p>
        <p><b>Game Play </b><br>Clues are presented one at a time and you can guess the movie after any given clue. You have three total guesses. The earlier you correctly guess the movie, the higher the points you receive. </p>
        <p id="instructionsWord"><b>Instructions</b></p>
        <ol id="instructionsList" class="card card-body">
            <li>To start the game, click the <span class="BlueWords">Begin Game </span>button in the <b>List of Clues </b> section. The first <span class="RedWords">Clue </span>will appear.</li>

            <li>To get the next <span class="RedWords">Clue </span>, click the <span class="BlueWords">Get Next Clue </span>button. Repeat this any time you want another <span class="RedWords">Clue. </span></li>

            <li>To guess the <span class="OrangeWords">Movie</span>, type the <span class="OrangeWords">Movie's </span> title in the <b>Guess Movie </b> section. As you type, a drop-down list of movie titles will appear. Select the appropriate <span class="OrangeWords">Movie</span> from the list.</li>

            <li>Click the <span class="BlueWords">Click to Guess </span> button to submit your guess.</li>

            <li>You will be alerted if your guess was right or wrong.</li>

            <li>The game ends if you correctly guess the movie OR if you run out of clues.</li>
        </ol>
    </div>
</div>
</div>