@model Team

@{
ViewData["Title"] = "New Team";
}

<h4 class="text-center">Enter team names for this game</h4>
<form action="set_group_game" method="POST">
        <input style="width: 100%; color: black" type="text" id="firstTeamName" name="firstTeamName" placeholder="Enter first team's name" value="TeamA" />
        <br>
        <br>
        <input style="width: 100%; color: black"  type="text" id="secondTeamName" name="secondTeamName" placeholder="Enter second team's name" value="TeamB" />
        <br>
        <br>
        <button class="btn btn-primary" style="width: 100%">Begin Game</button>
</form>
