@model Team

@{
ViewData["Title"] = "New Team";
}

<form asp-controller="SetTeams" asp-action="CreateNewTeam" method="POST">
    <div class="col p-3 m-4">
        <label for="TeamName" class="row text-white">Team Name: </label>
        <input class="row mb-3" type="text" id="SubmittedTeamName" name="SubmittedTeamName" placeholder="Enter team name"/>
        <button class="row btn btn-primary">Create Team</button>
    </div>
</form>

<br>

<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Actions</th>
    </tr>
</table>