@{
ViewData["Title"] = "No Game";
}


<p class="text-center" style="color:red">You are all caught up. No more movies to guess.</p>
<br>

<span>
    There are currently @ViewBag.MovieCount movies in the database and you have guessed them all because you are a nerd. Thank you for taking the game seriously!
</span>

<br><br>

<div id="deuce">
    <img src="~/images/2deuce1.jpg" alt="ASP.NET" class="img-responsive">
</div>


<div id="pi">
    <a href="/the_net" style="color:white">π</a>
</div>