<br>

<div class="row">

    <div class="col">

        <p id="NoGameHeader" class="text-primary"><b>You are all caught up. No more movies to guess at this time</b></p>


        <div id="Deuce"><img src="~/images/2deuce1.jpg" alt="ASP.NET" class="img-responsive"></div>
    </div>

</div>

<div class="row">
    <div class="col">π</div>
</div>


