@model movieGame.Models.Movie


<nav class="row navbar navbar-dark bg-primary border border-primary rounded-0">
    <div class="col-9">
        <div class="row">
            <span class="col-sm text-left PlayerProfile"><b>Player: </b> @ViewBag.PlayerName</span>
            <span class="col-sm text-left PlayerProfile"><b>Games Played: </b> @ViewBag.GamesPlayed</span>
            <span class="col-sm text-left PlayerProfile"><b>Total Points: </b> @ViewBag.TotalPoints</span>
            <span class="col-sm"></span>
            <span class="col-sm"></span>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <span class="col-sm text-right"><a class="WhiteWords" href="/clear">Home</a></span>
            <span class="col-sm text-center"><a class="WhiteWords" href="/initiateGame">Start Over</a></span>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col-sm-4">
        <table class="table table-sm">
            <tr>
                <td colspan="3"><span class="align-middle text-right zeroMarginPadding"><a href="/viewInstructions">View Rules</a></span></td>
            </tr>
            <tr class="bg-dark">
                <td><a href="#"><button type="button" class="btn btn-danger" id="getClueButton"><span id="clueButtonText">Begin Game</span></button></a></td>
                <td><span class="align-middle zeroMarginPadding text-right WhiteWords" id="cluePoints">Current Clue Point Value:</span> </td>
                <td><span class="align-middle zeroMarginPadding text-left WhiteWords" id="justPoints"></span></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>

    <form action="guessMovie" method="GET" id="guessMovie" class="col-sm-8">
        <table id="guessMovieForm" class="table table-sm">
            <tr>
                <td> <span id="remainingGuesses" class="align-middle text-right zeroMarginPadding">Remaining Guesses: 3</span></td>
                <td></td>
            </tr>
            <tr class="bg-dark">
                <td><input type="text" asp-for="Title" id="movieGuessInput" name="movieGuessInput" placeholder="Enter Your Guess Here..."/></td>
                <td><a href="#"><button class="btn btn-danger">Click to Guess</button></a></td>
            </tr>
            <tr>
                <td colspan="2" class="searchResContainer">
                    <div id="div_content">
                        <ul id="searchResult"></ul>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<hr class="linebreak3">


<ul class="text-center" id="JQresponse"></ul>

<div id="clueSection" class="row">
    <div class="col" id="clueList">
        <ul id="clueText" class="clueText"></ul>
    </div>
</div>
