@{
ViewData["Title"] = "Group Play";
}
<nav class="navbar navbar-expand-lg bg-dark navbar-light p-0">
    <h6 class="glow m-1"><b>The Awesome and/or Amazing Movie Game</b></h6>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav pr-1">
            <a class="text-white nav-item nav-link active text-right pr-2" href="/">Home <span class="sr-only"></span></a>
            <a class="text-white nav-item nav-link text-right pr-2" href="/Instructions">Instructions</a>
            <a class="text-white nav-item nav-link text-right pr-2" href="/InitiateGame">Start Over</a>
            <a class="text-white nav-item nav-link text-right pr-2" href="/NewTeamForm">Team List</a>
        </div>
    </div>
</nav>


<div id="GroupPlay_Container" class="text-dark mt-1 mb-2">
    <span class="d-flex justify-content-center">Click Anywhere For Next Clue</span>
    <br>

    <div class="height">
    <table class="table" id="ClueTable">
        <thead>
            <tr>
                <th scope="col" class="text-center p-0">#</th>
                <th scope="col" class="text-center p-0">Clue</th>
                <th scope="col" class="text-center p-0">Value</th>
            </tr>
        </thead>
        <tbody id="TableBody">

        </tbody>
    </table>
    </div>

    </div>
</div>