@model movieGame.Models.Movie

@{
ViewData["Title"] = "Single Play";
}

<hr class="linebreak3">

<table>
    <tr>
        <td style="padding-right: 20px" class="text-center">
            <div>
                <span id="cluePoints" class="text-info" style="padding-right: 5px">Clue Value:</span>
                <span id="justPoints"></span>
            </div>
        </td>
        <td style="padding-right: 20px" class="text-center">
            <span class="text-info" style="padding-right: 5px"> Guesses:
                <span id="remainingGuesses"></span>
            </span>
        </td>
    </tr>
</table>


<br>


<ul id="guessResponse"></ul>

<div style="border: 1px solid slateblue; height: 260px; padding: 0px; margin: 0px; padding-top: 10px">
        <ul id="clueText" class="clueText" style="padding: 0px; margin: 0px"></ul>
</div>

<hr class="linebreak3">

<table id="MovieHints" class="table text-center">
    <tr>
        <td style="border: none; background: white; color: black">
            <button id="GetMovieDecadeButton" class="text-center" style="background: none; border: none">
                Year
            </button>
        </td>
        <td style="border: none; background: white; color: black">
            <button id="GetMovieGenreButton" class="text-center" style="background: none; border: none">
                Genre
            </button>
        </td>
        <td style="border: none; background: white; color: black">
            <button id="GetMovieDirectorButton" class="text-center" style="background: none; border: none">
                Director
            </button>
        </td>
    </tr>
</table>



<div id="formContainer">
    <div id="guessMovieForm" >
        <form action="GuessMovie" method="GET" id="guessMovie">
            <input id="movieGuessInput" class="text-danger" style="width: 70%; height: 30px"/>
            <button id="submit" class="btn btn-danger" style="width: 28%">Guess</button>
        </form>
    </div>
</div>

<div class="searchResContainer">
    <div id="div_content">
        <ul id="searchResult"></ul>
        <div class="clear"></div>
    </div>
    <div></div>
</div>

<button class="btn btn-primary" type="button" id="getClueButton">
    <span id="clueButtonText">Begin Game</span>
</button>


<p class="hiddenDiv" id="hiddenDiv" style="color: black"></p>






<!-- <div id="MovieHints">

    <button id="GetMovieDecadeButton" style="background: none; border: none">
            <span>Year</span>
    </button>

    <button id="GetMovieGenreButton" style="background: none; border: none">
            <span>Genre</span>
    </button>

    <button id="GetMovieDirectorButton" style="background: none; border: none">
            <span>Director</span>
    </button>

</div> -->

<!-- <a href="#">
    <button class="btn btn-primary" type="button" id="getClueButton">
        <span id="clueButtonText">Begin Game</span>
    </button>
</a> -->

<!-- <div class="row">
    <div class="col">
        <ul id="clueText" class="clueText pl-0 ml-0"></ul>
    </div>
</div> -->