@{
ViewData["Title"] = "Group Play";
}

<div id="firstTeam" class="this_teams_turn">@ViewBag.TeamName1 Score: </div>
<div id="secondTeam">@ViewBag.TeamName2 Score: </div>

<button class="btn btn-primary" id="change_team_button">Change Team</button>