<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"> -->

</head>

<body>


    <div class="row rounded-0 mb-4 sticky-top border-bottom border-white ">
        <a class="col text-center text-white nav-link" href="/">Home</a>
        <a class="col text-center text-white nav-link" href="/Instructions">Instructions</a>
        <a class="col text-center text-white nav-link" href="/InitiateGame">Start Over</a>
    </div>

    <div id="GroupPlay_Clues" class="row d-flex justify-content-center p-0 m-0">
        <p class="text-white">Click for Next Clue</p>
    </div>

    <div class="col p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-6 card border-dark mb-1 mr-1 ml-1 p-0 rounded-0 d-flex justify-content-center">
                <div class="card-header text-center pt-1 pb-1">#1</div>
                <div class="card-body text-dark p-0 mb-1">
                    <h3 class="card-title text-center text-primary mt-2 mb-1"><b>Helicopter</b></h3>
                <p class="card-text text-center">Point Value: 10</p>
                </div>
            </div>
            <div class="col-6 card border-dark mb-1 p-0 rounded-0 d-flex justify-content-center" style="max-width: 11rem;">
                <div class="card-header text-center pt-1 pb-1">#2</div>
                <div class="card-body text-dark p-0 mb-1">
                    <h3 class="card-title text-center text-primary mt-2 mb-1"><b>Henry Hill</b></h3>
                <p class="card-text text-center">Point Value: 9</p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/GroupPlay.js" asp-append-version="true"></script>
</body>