@{
ViewData["Title"] = "Game Over Loss";
}

<hr class="linebreak3">

<h1>YOU LOST</h1>
<p>Please take some time to reflect on your failure!!!!</p>

<br>

<p>Play again (I have no life) </p>
<p>Quit (I am a total failure) </p>