@{
ViewData["Title"] = "Game Over Win";
}



<p class="text-center">You won. Wow. </p>
<p class="text-center">@ViewBag.MovieTitle</p>
<img src="@ViewBag.MoviePoster" alt="no poster" style="display: block; margin-left: auto; margin-right: auto">

<br>

<a href="/single" style="width: 100%">
    <button class="btn btn-primary" style="width: 100%">
        Play again (I have no life)
    </button>
</a>

<br>
<br>

<a href="/">
    <button class="btn btn-primary" style="width: 100%">
        Quit (This game is too hard)
    </button>
</a>