
<p>@ViewBag.MovieGenre</p>
<p>@ViewBag.xTitle</p>


<!--
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>




<body>
<div style="margin-left: 35px; margin-top: 50px;">
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on Bottom">
                Tooltip on bottom
        </button>

        <br>
        <br>

        <a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>

        <br>
        <br>

        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
            <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
        </span> -->


    <!-- <div class="row">

        <div class="col-4">
            <form method="POST" action="GetMovieDecade" id="GetMovieDecade">
                <button style="background: none; border: none">
                    <span style="font-size: 12px; color: Dodgerblue;">
                        <i class="fas fa-calendar-alt"></i>
                        <span>Decade</span>
                    </span>
                </button>
            </form>
        </div>

        <div class="col-4">
            <form method="POST" action="GetMovieGenre" id="GetMovieGenre">
                <button style="background: none; border: none">
                    <span style="font-size: 12px; color: Dodgerblue;">
                        <i class="fas fa-tasks"></i>
                        <span>Genre</span>
                    </span>
                </button>
            </form>
        </div>

        <div class="col-4">
            <form method="POST" action="GetMovieDirector" id="GetMovieDirector">
                <button style="background: none; border: none">
                    <span style="font-size: 12px; color: Dodgerblue;">
                        <i class="fas fa-user-circle"></i>
                        <span>Director</span>
                    </span>
                </button>
            </form>
        </div>

    </div> -->

<!-- </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body> -->












<!-- <p>test text</p> -->
    <!-- <div>
        <img src="@ViewBag.ActorPicSmallest" alt="actor image"/>
    </div> -->