@model movieGame.Models.Movie

@{
    Layout = "_Layout";
}



<div class="container" id="playGameContainer">

    <br>
    <nav class="navbar navbar-dark bg-dark">

            <div class="col-10" id="PlayGamePageTitle"><h3><b>The Awesome and/or Amazing Movie Game</b></h3> </div>
            <div class="col-1"><a class="nav-link" href="/clear">Home</a> </div>
            <div class="col-1"><a href="/initiateGame">Start Over</a></div>
    </nav>

    <div class="row">
        <div class="col-2 testborder3">
            <a href="#">
                <button class="btn btn-primary">
                    <span id="clueButtonText">Begin Game</span>
                </button>
            </a>
        </div>

        <div id="cluePoints" class="col-2 testborder2">PLACEHOLDER TEXT</div>

        <div class="col-2 testborder3" ><span id="justPoints"></span></div>

        <div class="col-2 PlayerProfile testborder4"><b> Player: </b>Dan </div>
        <div class="col-2 PlayerProfile testborder4"><b>Games Played: </b> 60</div>
        <div class="col-2 PlayerProfile testborder4"><b>Total Points: </b> 100</div>
    </div>

    <br>

    <div id="clueSection" class="row">
        <div class="col-2">
            <h4 class="text-center"><b>List of Clues</b></h4>
            <img id="QuestionMark" src="https://mmpkorea.files.wordpress.com/2016/05/big-question-mark.png">
        </div>
        <div class="col-10">
            <div id="clueList" class="testborder1">
                <div>
                    <ul id="clueText" class="clueText"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="guessSection">

        <div class="col-2 text-center">
            <h4><b>Guess Movie</b></h4>
            <div id="remainingGuesses">Remaining Guesses: 3</div>
        </div>


        <div class="col-10">

            <ul id="JQresponse"></ul>
            <fieldset id="guessMovieForm">
                <form action="guessMovie" method="GET" id="guessMovie">

                    <div class="row">
                        <input type="text" asp-for="Title" id="movieGuessInput" name="movieGuessInput" placeholder="Enter Your Guess Here..."/>
                        <a href="#"><button class="btn btn-primary">Click to Guess</button></a>
                    </div>

                    <div class="searchResContainer">
                        <div id="div_content">
                            <ul id="searchResult"></ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
            </fieldset>

        </div>

    </div>
</div>

<hr>

<!-- <div class="row">
    <div id="instructionsContent" class="col-md-10">
        <h6 id="instructionsButton" role="button" data-toggle="collapse" aria-expanded="true" href="#collapseExample">
            <span id="buttonText" data-text-swap="Click to View Overview">Click to Hide Overview</span>
        </h6>
        <div class="collapse show" id="collapseExample">
            <h4 id="OverViewHeader"><b>The Awesome and/or Amazing Movie Game Overview</b></h4>
            <hr class="linebreak3">
            <p id="GoalWord"><b>Goal</b><br>To guess the name of movie based on 10 one-word clues</p>
            <p><b>Game Play </b><br>Clues are presented one at a time and you can guess the movie after any given clue. You have three total guesses. The earlier you correctly guess the movie, the higher the points you receive. </p>
            <p id="instructionsWord"><b>Instructions</b></p>
            <ol id="instructionsList" class="card card-body">
                <li>To start the game, click the <span class="BlueWords">Begin Game </span>button in the <b>List of Clues </b> section. The first <span class="RedWords">Clue </span>will appear.</li>

                <li>To get the next <span class="RedWords">Clue </span>, click the <span class="BlueWords">Get Next Clue </span>button. Repeat this any time you want another <span class="RedWords">Clue. </span></li>

                <li>To guess the <span class="OrangeWords">Movie</span>, type the <span class="OrangeWords">Movie's </span> title in the <b>Guess Movie </b> section. As you type, a drop-down list of movie titles will appear. Select the appropriate <span class="OrangeWords">Movie</span> from the list.</li>

                <li>Click the <span class="BlueWords">Click to Guess </span> button to submit your guess.</li>

                <li>You will be alerted if your guess was right or wrong.</li>

                <li>The game ends if you correctly guess the movie OR if you run out of clues.</li>
            </ol>
        </div>
    </div>
</div> -->


<div id="adminStuff">
    <h6>Admin Stuff</h6>
    <p>
        <b>Movied ID: </b> @ViewBag.SessionMovieId_testing   |
        <b>Movie Title: </b> @ViewBag.SessionMovieTitle_testing |
        <b>Current Player Name: </b> @ViewBag.PlayerName
    </p>
</div>


