<html>

<head></head>

<body>
<div class="background">

@foreach(var poster in @ViewBag.TopMoviePosters)
{
    <img src="https://image.tmdb.org/t/p/w200/@poster" alt="MOVIE POSTER" />

}
</div>



</body>

</html>