/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover); }

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover); } }

.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover); }

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em); }

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover); }

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover); }

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color); }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover); }

.fill {
  --color: #a972cb;
  --hover: #cb72aa; }

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e; }

.close {
  --color: #ff7f82;
  --hover: #ffdc7f; }

.raise {
  --color: #ffa260;
  --hover: #e5ff60; }

.up {
  --color: #e4cb58;
  --hover: #94e458; }

.slide {
  --color: #8fc866;
  --hover: #66c887; }

.offset {
  --color: #19bc8b;
  --hover: #1973bc; }

.BoxShadow {
  color: var(--color);
  transition: 0.25s; }
  .BoxShadow:hover, .BoxShadow:focus {
    border-color: var(--hover);
    color: #fff; }

.bodyWrapper {
  color: #fff;
  background: #17181c;
  font: 300 1em 'Fira Sans', sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex; }

.BoxShadow {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em; }

h1 {
  font-weight: 400; }

code {
  color: #e4cb58;
  font: inherit; }

html {
  box-sizing: border-box;
  font-size: 100%; }

.subscribe-1 {
  position: absolute;
  left: 0;
  top: 225px;
  right: 0;
  bottom: 0;
  width: 25em;
  height: 4em;
  margin: auto;
  padding: 1em 0.75em;
  border: 3px solid transparent;
  overflow: hidden;
  transition: width 0.15s ease; }
  .subscribe-1__active {
    width: 20em;
    border: 3px solid #304ffe; }
  .subscribe-1__success {
    border: 3px solid #4cce95; }
  .subscribe-1 .SuccessInput {
    color: #304ffe;
    width: 75%;
    height: 100%;
    margin-right: 2%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1rem;
    border: 0;
    outline: 0; }
  .subscribe-1 button {
    flex-grow: 1;
    border: 0;
    border-radius: 4px;
    background: #0127fa;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.2s ease; }
    .subscribe-1 button:hover {
      background: #304ffe; }

.subscribe__wrapper {
  height: 100%;
  display: flex; }

.subscribe__toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0127fa;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  line-height: 50px;
  border-radius: 0;
  transition: opacity 0.15s ease, background 0.2s ease; }
  .subscribe__toggle__hidden {
    opacity: 0;
    pointer-events: none; }
  .subscribe__toggle:hover {
    background: #e53935;
    color: #fff; }

.subscribe__success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: #4cce95;
  text-align: center;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s 0.2s ease; }
  .subscribe__success--active {
    opacity: 1; }

.testText {
  font-size: .75em; }
