/* #region * HTML, BODY, WRAPPER */

* {
    font-family: 'Roboto Condensed', serif;
    color: white;
    /* box-sizing: inherit; */
}

.blackBody {
    background-color: black;
}

.glow {
    font-family: "Vibur", cursive;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
    }
}

/* #endregion */

/* #region OTHER GLOBAL FORMATTING */

.BlueWords {
    color: #6492ed;
}

.RedWords {
    color: #ed647d;
}

.OrangeWords {
    color: #ed9d64;
}

.WhiteWords {
    color: white;
}

.RedDarken-1 {
    background-color: #e53935;
}

/* #endregion */

.navbarHead {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbarHead li {
    float: left;
}

.navbarHead li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

.navbarHead li a:hover {
    background-color: #111;
}

/* #endregion */

/* #region CLUES */

.setRelative {
    position: relative;
}

#guessResponse {
    color: red;
}

#getClueButton {
    width: 100%;
}

.clueText {
    display: flex;
    flex-wrap: wrap;
    /* opacity: .6; */
}

ul.clueText li {
    height: 40px;
    vertical-align: middle;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-left: 6.5px;
    margin-bottom: 8px;
    display: inline;
    font-size: 15px;
    flex-basis: 47%;
    border: 1px solid white;
    /* opacity       : .5; */
}

.clueText li:nth-child(3n) {
    flex-basis: 47%;
}

.clueText li:nth-child(2n) {
    /* margin-right: 5px; */
}

/* #endregion */

/* #region GUESS MOVIE */

.searchResContainer {
    border-radius: 3px;
    letter-spacing: 1px;
}

#div_content {
    height: auto;
}

#searchResult {
    list-style: none;
}

#searchResult li {
    padding: 5px;
    margin-bottom: 1px;
}

#searchResult li:hover {
    cursor: pointer;
}

.clear {
    clear: both;
    margin-top: 20px;
}

.endGameMessage {
    margin-top: 15%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.endWin {
    color: green;
    font-size: 15px;
}

.endLoss {
    color: red;
    font-size: 25px;
}

.endButton {
    width: 50%;
}

#pi {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.theNet {
    background: transparent url("https://image.tmdb.org/t/p/w92/gKDNaAFzT21cSVeKQop7d1uhoSp.jpg") repeat 0% 0%;
    width: 100%;
    height: 100%;
    position: absolute;
}